.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;


  li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }

  li:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
    left: .1em;
  }

  li.selected {
    background-color: #505050;
    color: white;
  }

  li.selected:hover {
    background-color: #505050;
    color: white;
  }

  li.selected:active {
    background-color: #505050;
    color: white;
  }

  span {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
}

nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  margin-left: 5px;
  background-color: #EEE;
  color: #3d3d3d;
  border-radius: 4px;
}

nav a:hover {
  color: #5526ff;
  background-color: #e6e6e6;
}

nav a.active {
  background-color: #e6e6e6;
}

.top-heroes {
  padding: 0;
  margin: auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;

  a {
    background-color: #3f525c;
    border-radius: 2px;
    padding: 20px;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 100%;
    min-width: 70px;
    margin: .5rem .5rem;
    box-sizing: border-box;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }

  a:hover {
    color: #3f525c;
    background-color:#fff;
  }
}
.selectedHero h2{
    text-align: center;
}
