<div class="content">
    <h1>Tour of Heros </h1>

    <nav>
        <a routerLink="/dashboard" (click)="topHeroes()">Dashboard</a>
        <a routerLink="/heroes" (click)="heroList()">Heroes</a>
    </nav>

    <div class="dashboard" *ngIf="dashboard">
        <h2>Top Heroes</h2>
        <div class="top-heroes">
            <a *ngFor="let hero of heroesList">
                {{hero.name}}
            </a>
        </div>
    </div>

    <div class="herolist" *ngIf="herolist">
        <h2>My Heroes</h2>
        <ul class="heroes">
            <li *ngFor="let hero of heroesList" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
                <span>{{hero.id}}</span> {{hero.name}}
            </li>
        </ul>
    </div>

    <div *ngIf="selectedHero" class="selectedHero">
        <h2>{{selectedHero.name}} is my hero</h2>
        <div>
            <h2>{{selectedHero.name}} Details</h2>
            <div><span>id: </span>{{selectedHero.id}}</div>
            <div>
                <label for="hero-name">Hero name: </label>
                <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
                <button type="submit">Back</button>
            </div>
        </div>
    </div>

</div>